@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer base {
  th {
    font-weight: normal;
  }
  .h1 {
    @apply text-[36px] leading-[40px] md:text-[56px] md:leading-[60px];
  }
  .h2 {
    @apply text-[22px] leading-[28px] md:text-[38px] md:leading-[42px];
  }
  .h3 {
    @apply text-lg leading-6 md:text-2xl md:leading-[30px];
  }
  .body1 {
    @apply text-base leading-[22px] md:text-lg md:leading-[24px];
  }
  .body2 {
    @apply text-sm leading-5 md:text-base md:leading-[22px];
  }
  .body3 {
    @apply text-xs leading-4 md:text-sm md:leading-5;
  }
  .small {
    @apply text-[10px] leading-[14px] md:text-xs md:leading-4;
  }
  .extra-small {
    @apply text-[10px] leading-[14px];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
